* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: Noto monospace;
  margin: 0;
  padding: 0;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-duration: 0.5s;
  margin: 0px 0px;

}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  padding: 0px 3px;
  background-color: transparent;

  margin: 0px 3px;
  /* padding: 2px 18px; */
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each workspace name */
  border: none;
  border-radius: 0;
}

#workspaces button.active {
  background-color: white;
  color: #000000;
  border-radius: 2px;
}

#workspace button.hover {
  background-color: transparent;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

/* #window {
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px; */
  /* color: #64727d;
} */

#clock,
#battery,
#cpu,
#memory,
#disk,
#backlight,
#network,
#pulseaudio,
#custom-spotify,
#tray,
#bluetooth,
#custom-powermenu{
  margin: 1px 3px;
  padding: 1px 10px;
  color: #ffffff;
  border-radius: 5px;
}


#window,
#workspaces {
  border-radius: 15px;
  /* background-color: rgba(88, 92, 117, 0.9); */
  /* background-color: rgb(70, 66, 66); */
  margin: 5px 3px;
  padding: 2px 17px;

}

#cpu {
  margin-left: 12px;
}


#custom-powermenu {
  margin-top: 5px;
  margin-right: 12px;
}

#custom-launcher {
  background-color: #1b242b;
  color: #6a92d7;
  border-radius: 7.5px;
  padding: 0 0px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#disk {
  background-color: #964b00;
}

#bluetooth {
  color: #707d9d;
}

#bluetooth.disconnected {
  color: #f53c3c;
}

#network.disconnected {
  color: #f53c3c;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#custom-spotify.playing {
  padding-top: 3px;
  margin-top: 3px;
}